body {
  text-align: center;
  background-color: rgb(213, 228, 237);
  /* background-image: url("../public/zeldaTOTW.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh; */
}

.app h1 {
  font-size: 4rem;
}

/* navbar */
nav {
  margin-bottom: 50px;
  background-color: rgb(28, 153, 153);
}

ul {
  display: flex;
  background-color: rgb(28, 153, 153);
  width: 100%;
  justify-content: space-evenly;
  padding: 0;
  border: 0;
}

p > a {
  background-color: rgb(28, 153, 153);
  color: black;
  font-size: 2rem;
  text-decoration: none;
}

p > a:hover {
  text-decoration: underline;
}

/* searchBar */
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.75rem;
  border-radius: 2rem;
  background: #0a0c0e;
  width: 45%;
  margin: 0 auto; 
  margin-top: 80;
  margin-bottom: 60;
}

.search input {
  flex: 1;
  border: none;
  outline: none;
  color: #61a0b1;
  background: #0a0c0e;
  font-size: 1.6rem;
  text-align: center;
}

.search img {
  width: 38px;
  height: 38px;
  cursor: pointer;
  background: #0a0c0e;
}

.searchResult h2 {
  margin: 0;
  margin-top: 30px;
}

.searchResult p {
  margin: 0;
  padding: 0;
  color: rgb(12, 60, 94);
  font-style: italic;
  display: inline-block;
  margin: 0.6rem;
  font-size: 1.4rem;
}

button {
  height: 35px;
  width: 35px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: rgb(149, 25, 195);
}

.favouritesButton {
  height: 35px;
  width: 195px;
  padding: 5px;
  margin-top: 40px;
  color: white;
  font-size: 1.2rem;
  border-radius: 50px;
  background-color: rgb(9, 2, 11);

}

button:hover {
  cursor: pointer;
}

/* allSearch */
.allSearch > div > p:hover {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.8rem;
  color: rgb(26, 107, 132);
  border-bottom: 2px solid rgb(36, 125, 152);
}

.allSearch p {
  display: inline-block;
  margin: 0.6rem;
  font-size: 1.4rem;

  /* background-color: blueviolet; */
  /* text-decoration: underline; */
}


/* searchResult */
.searchResult {
  /* background-color: pink; */
  border: 20px; 
}




.space {
  margin-top: 100px;
}

